
@import url("theme.css");

h1.post-title-main {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: 0.25em;
}

.page-subtitle {
  font-size: 1.5rem;      /* slightly smaller than title */
  font-weight: 300;       /* lighter, elegant look */
  color: #666;            /* softer grey tone */
  margin-top: 0em; 
}

/* theme color usages  */
.summary {
    color: var(--text-grayed);
    border-left: 5px solid var(--text-darker);
    font-size:16px;
}

h3 {color: var(--text-darker); }
h4 {color: var(--text-grayed); }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: var(--primary);
    color: var(--text-inverse);
}

.nav > li.active > a { background-color: var(--primary); }

.nav > li > a:hover { background-color: var(--primary); }

.nav > li > a {
    color: var(--primary);
    background-color: var(--text-inverse);
}

div.navbar-collapse .dropdown-menu > li > a:hover { background-color: var(--primary); }

.nav li.thirdlevel > a {
    background-color: var(--text-inverse) !important;
    color: var(--highlight);
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: var(--primary);
    font-style: italic;
    cursor: default;
}

.navbar-inverse {
    background-color: var(--primary);
    border-color: var(--text-grayed);
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand { color: var(--text-inverse); }

.navbar-inverse .navbar-nav>li>a:hover, a.fa.fa-home.fa-lg.navbar-brand:hover { color: var(--text-inverse); }

a.navbar-brand:hover { color: var(--text-inverse); }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus { color: var(--highlight); }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: var(--highlight);
    color: var(--text-inverse);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form { border-color: var(--primary) !important; }

.btn-primary {
    color: var(--text-inverse);
    background-color: var(--primary);
    border-color: var(--primary);
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: var(--primary);
    background-color: var(--text-inverse);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.printTitle { color: var(--highlight) !important; }

.anchorjs-link:hover { color: var(--highlight-hover); }

div.sidebarTitle { color: var(--text-darker); }

li.sidebarTitle {
    margin-top: 20px;
    font-weight: normal;
    font-size: 130%;
    color: var(--text-darker);
    margin-bottom: 10px;
    margin-left: 5px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover { background-color: var(--highlight); }

.navbar-inverse .navbar-toggle { border-color: var(--primary); }
