
/* theme color variables */
:root {
    --primary: #149983;
    --accent-01: #E50E51;
    --accent-02: #015CAE;
    --accent-03: #216f9b;
    --accent-04: #333333;

    --white: #fafafa;
    --black: #101010;
    --gray: #808080;

    --highlight: var(--accent-02);
    --highlight-hover: var(--accent-03);

    --text: var(--accent-04);
    --text-darker: var(--black);
    --text-grayed: var(--gray);
    --text-inverse: var(--white);
}

