<footer class="row" id="social-icons">
    {% capture github_img %}<img src="{{ "images/icons/GitHub_512px.png" }}" alt="GitHub logo">{% endcapture %}
    {% include reference.html link="https://github.com/mtex-toolbox/mtex" content=github_img no_icon=true %}
    <br>
    {% capture researchgate_img %}<img src="{{ "images/icons/ResearchGate_256px.png" }}" alt="ResearchGate logo">{% endcapture %}
    {% include reference.html link="https://www.researchgate.net/project/MTEX-free-crystallographic-texture-analysis-software" content=researchgate_img no_icon=true %}
</footer>