<footer class="mx-footer">
  <div class="mx-wrap">
    <p>MTEX is developed by its <a href="people.html">team</a> and contributors worldwide · code GPL-2.0 · documentation {{ site.doc_license_name }}</p>
    <ul>
      <li><a href="download">Download</a></li>
      <li><a href="publications.html">Publications</a></li>
      <li><a href="videos.html">Videos</a></li>
      <li><a href="addons.html">Add-ons</a></li>
      <li><a href="support.html">Support</a></li>
      <li><a href="https://github.com/mtex-toolbox/mtex">GitHub</a></li>
    </ul>
  </div>
</footer>
