<div id="password_access_restriction" class="alert alert-info" role="alert">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	
	<div id="course_content_default" class="not_hidden" markdown="span">
		<i class="fa fa-info-circle"></i>&nbsp;{{ include.content_default }}
	</div>
	
	<div id="course_content_access" markdown="span">
		<i class="fa fa-info-circle"></i>&nbsp;{{ include.content_access }}
	</div>
	
	<form>
		<label>Enter the password here:</label>
		<input id="course_password" type="password" required>
		<button id="course_submit" onclick="checkCoursePassword();" submit>Submit</button>
		<!-- <a href="#" id="course_submit" onclick="checkCoursePassword();">Submit</a> -->
	</form>
</div>
