<div id="password_access_restriction" class="alert alert-info" role="alert">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	
	<script>
		function checkCoursePassword() {
			let courseText = document.getElementById("course_text");
			let inputValue = document.getElementById("course_password").value;
			let passwordHash = CryptoJS.MD5(inputValue).toString();
			
			if (passwordHash === "3c4fc8ddb124a0c8b4e83130acd5b265") {
				courseText.innerHTML = '<i class="fa fa-info-circle"></i>&nbsp;{{ include.content_access }}';
				showCourseMaterial(true);
			} else {
				courseText.innerHTML = '<i class="fa fa-info-circle"></i>&nbsp;{{ include.content_default }}';
				showCourseMaterial(false);
			}
		}
		
		function showCourseMaterial(showMaterial=true) {
			let course_elements = document.getElementsByClassName("course_material");
			
			for (let i=0; i<course_elements.length; i++) {
				if (showMaterial) {
					course_elements[i].classList.add("not_hidden");
				} else {
					course_elements[i].classList.remove("not_hidden");
				}
			}
		}
	</script>
	
	<style>
		#course_submit {
			background-color: #f5f5f5;
			border: 1px #ddd solid;
			border-radius: 3px;
			border-collapse: border-box;
			padding: 5px 10px 5px 7px;
			color: #248ec2;
			text-decoration: none;
		}
		label { font-weight: normal; }
		#course_submit:hover { background-color: #f0f0f0; }
		.course_material:not(.not_hidden) { display: none !important; }
	</style>
	
	<div id="course_text" markdown="span">
		<i class="fa fa-info-circle"></i>&nbsp;{{ include.content_default }}
	</div>
	
	<form>
		<label>Enter the password here:</label>
		<input id="course_password" type="password" required>
		<a href="#" id="course_submit" onclick="checkCoursePassword();">Submit</a>
	</form>
</div>
