<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container topnavlinks">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="fa fa-lg navbar-brand" href="index.html"><img src="images/company_logo.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <br><br>
            <ul class="nav navbar-nav navbar-right">

                <!-- topnav -->
                {% assign topnav = site.data[page.topnav] %}
                {% for entry in topnav.topnav %}
                    {% for item in entry.items %}
                        {% assign trurl = item.url | remove: "/" %}
                        {% if item.external_url %}
                            <li><a href="{{ item.external_url }}" target="_blank">{{ item.title }}</a></li>
                        {% elsif page.url contains item.url or page.sidebar contains trurl %}
                            <li class="active"><a href="{{ trurl }}">{{ item.title }}</a></li>
                        {% else %}
                            <li><a href="{{ trurl }}">{{item.title}}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                {% if site.feedback_disable == null or site.feedback_disable == false %}
                    {% include feedback.html %}
                {% endif %}
            </ul>
        </div>
    </div>
    <!-- /.container -->
</nav>
